api.tag[#rest]=REST
api.open=#open
//默认上传的接口为未完成状态
api.status=undone

//该配置会将接口的@return注释说明，作用到返回值的错误码说明下
method.return.main[groovy:true]=status
method.content.type=application/json

field.doc[@org.hibernate.validator.constraints.Length]=groovy:"\n长度限制：" + it.ann("org.hibernate.validator.constraints.Length", "min") + "-" + it.ann("org.hibernate.validator.constraints.Length", "max") + " 字符"
